<tool id="spring_model" name="SPRING Model" version="0.1.0" license="MIT">
    <description>complex structures</description>
    <macros>
        <import>macros.xml</import>
    </macros>
    <expand macro="requirements">
        <requirement type="package" version="1.78">biopython</requirement>
        <requirement type="package" version="20170708">tmalign</requirement>
        <requirement type="package" version="3.06">pulchra</requirement>
    </expand>
    <command detect_errors="exit_code"><![CDATA[
        python3 '$__tool_directory__/spring_model.py'
        -a '$a'
        -b '$b'
        @pdb_source@
        -c '$cross'
        -o '$output'
    ]]>    </command>
    <inputs>
        <param name="a" format="hhr" type="data" label="First HHR target file" help="Threading result for target sequence using HHsearch." />
        <param name="b" format="hhr" type="data" label="Second HHR target file" help="Threading result for target sequence using HHsearch." />
        <expand macro="pdb_source" />
        <param name="cross" format="tabular" type="data" label="Cross Reference" help="SPRING PDB Cross Reference as produced by SPRING Cross tool." />
    </inputs>
    <outputs>
        <data format="pdb" name="output" label="SPRING Model Structure" />
    </outputs>
    <tests>
        <test>
            <param name="a" value="model/ACE2_HUMAN.hhr" ftype="hhr" />
            <param name="b" value="model/SPIKE_SARS2.hhr" ftype="hhr" />
            <conditional name="pdb_source">
                <param name="pdb_source_selector" value="history" />
                <param name="ffindex" value="model/pdb_structures.ffindex" />
                <param name="ffdata" value="model/pdb_structures.ffdata" />
            </conditional>
            <param name="cross" value="model/crossreference.txt" />
            <output name="output" file="model/sp|Q9BYF1|ACE2_HUMAN.sp|P0DTC2|SPIKE_SARS2.pdb" />
        </test>
        <test>
            <param name="a" value="model/ACE2_HUMAN.hhr" ftype="hhr" />
            <param name="b" value="model/SPIKE_SARS2.hhr" ftype="hhr" />
            <conditional name="pdb_source">
                <param name="pdb_source_selector" value="indexed" />
                <param name="pdb" value="pdb01_model" />
            </conditional>
            <param name="cross" value="model/crossreference.txt" />
            <output name="output" file="model/sp|Q9BYF1|ACE2_HUMAN.sp|P0DTC2|SPIKE_SARS2.pdb" />
        </test>
    </tests>
    <help><![CDATA[

**What it does**

Creates protein complex model from HHsearch threading results.

    ]]>    </help>
    <expand macro="citations" />
</tool>