<tool id="spring_minz" name="SPRING Min-Z" version="0.1.2" python_template_version="3.5" license="MIT">
    <description>filter operation</description>
    <command detect_errors="exit_code"><![CDATA[
        mkdir -p targets &&
        #for target in $targets
            link '${str(target)}' 'targets/${target.element_identifier}' &&
            echo '${target.element_identifier}' >> 'target_list' &&
        #end for
        #if str($input_type.input_type_selector) == "true":
            mkdir -p inputs &&
            #for input in $input_type.inputs
                link '${str(input)}' 'inputs/${input.element_identifier}' &&
                echo '${input.element_identifier}' >> 'input_list' &&
            #end for
            python3 '$__tool_directory__/spring_minz.py' -tl target_list -tp targets -il input_list -ip inputs -m '$minscore' -c '$crossreference' -o '$output' -l '$log'
        #else
            python3 '$__tool_directory__/spring_minz.py' -tl target_list -tp targets -m '$minscore' -c '$crossreference' -o '$output' -l '$log'
        #end if
    ]]></command>
    <inputs>
        <param format="txt" name="targets" type="data_collection" collection_type="list" label="Target profiles" help="Homology search result of target/query profiles `hhr`."/>
        <conditional name="input_type">
            <param name="input_type_selector" type="boolean" label="Identify interactions across sets?" checked="true"/>
            <when value="true">
                <param format="txt" name="inputs" type="data_collection" collection_type="list" label="Input profiles" help="Homology search results of input profiles `hhr`."/>
            </when>
        </conditional>
        <param format="tabular" name="crossreference" type="data" label="Cross reference" help="Cross reference of interacting proteins `first_id metadata_id second_id`."/>
        <param name="minscore" type="integer" label="Score threshold" value="10" min="1" max="200" help="Matching interaction pairs with a score lower than this threshold will be excluded."/>
    </inputs>
    <outputs>
        <data format="tabular" name="output" label="SPRING min-Z Table"/>
        <data format="txt" name="log" label="SPRING min-Z Log" />
    </outputs>
    <tests>
        <test>
            <param name="targets">
                <collection type="list">
                    <element name="NP_000282.1.hhr" value="minz/NP_000282.1.hhr" />
                    <element name="NP_000290.2.hhr" value="minz/NP_000290.2.hhr" />
                    <element name="NP_000548.2.hhr" value="minz/NP_000548.2.hhr" />
                    <element name="NP_000836.2.hhr" value="minz/NP_000836.2.hhr" />
                </collection>
            </param>
            <conditional name="input_type">
                <param name="input_type_selector" type="boolean" checked="false"/>
            </conditional>
            <param name="crossreference" value="minz/pdb70_random.txt"/>
            <output name="output" file="minz/pdb70_result.0.txt"/>
        </test>
        <test>
            <param name="targets">
                <collection type="list">
                    <element name="NP_000282.1.hhr" value="minz/NP_000282.1.hhr" />
                </collection>
            </param>
            <conditional name="input_type">
                <param name="input_type_selector" type="boolean" checked="true"/>
                <param name="inputs">
                    <collection type="list">
                        <element name="NP_000282.1.hhr" value="minz/NP_000282.1.hhr" />
                        <element name="NP_000290.2.hhr" value="minz/NP_000290.2.hhr" />
                        <element name="NP_000548.2.hhr" value="minz/NP_000548.2.hhr" />
                        <element name="NP_000836.2.hhr" value="minz/NP_000836.2.hhr" />
                    </collection>
                </param>
            </conditional>
            <param name="crossreference" value="minz/pdb70_random.txt"/>
            <output name="output" file="minz/pdb70_result.1.txt"/>
        </test>
    </tests>
    <help><![CDATA[
This tool filters HH-search/HH-blits homology results through the protein interaction cross reference generated by SPRING. 
Putative interactions are identified by evaluating the min-Z score. 
The min-Z is the smaller of the two Z-scores for a pair of sequences matching an existing protein-protein complex structure.
    ]]></help>
    <citations>
        <citation type="bibtex">
@misc{githubhh-suite,
author = {Guerler, Govindarajoo, Zhang},
year = {2013},
title = {Mapping Monomeric Threading to Protein-Protein Structure Prediction},
publisher = {ACS Publications},
journal = {Journal of Chemical Information and Modeling},
url = {https://pubs.acs.org/doi/10.1021/ci300579r},
}
        </citation>
    </citations>
</tool>