<tool id="spring_model" name="SPRING Model" version="0.1.0" python_template_version="3.5" license="MIT">
    <description>complex structures</description>
    <requirements>
        <requirement type="package" version="1.78">biopython</requirement>
        <requirement type="package" version="20170708">tmalign</requirement>
        <requirement type="package" version="3.06">pulchra</requirement>
    </requirements>
    <command detect_errors="exit_code"><![CDATA[
        python3 '$__tool_directory__/spring_model.py' -a '$a' -b '$b' -i '$index' -d '$database' -c '$cross' -o '$output'
    ]]></command>
    <inputs>
        <param format="text" name="a" type="data" label="First HHR target file" help="Threading result for target sequence using HHsearch."/>
        <param format="text" name="b" type="data" label="Second HHR target file" help="Threading result for target sequence using HHsearch."/>
        <param format="ffindex" name="index" type="data" label="PDB Index" help="PDB Database Index file (ffindex)."/>
        <param format="ffdata" name="database" type="data" label="PDB Database" help="PDB Database files (ffdata)."/>
        <param format="tabular" name="cross" type="data" label="Cross Reference" help="SPRING PDB Cross Reference as produced by SPRING Cross tool."/>
    </inputs>
    <outputs>
        <data format="pdb" name="output" label="SPRING Model Structure"/>
    </outputs>
    <help><![CDATA[
Creates protein complex model from HHsearch threading results.
    ]]></help>
    <tests>
        <test>
            <param name="a" value="model/ACE2_HUMAN.hhr" />
            <param name="b" value="model/SPIKE_SARS2.hhr" />
            <param name="index" value="model/pdb_structures.ffindex" />
            <param name="database" value="model/pdb_structures.ffdata" />
            <param name="cross" value="model/crossreference.txt" />
            <output name="output" file="model/sp\|Q9BYF1\|ACE2_HUMAN.sp\|P0DTC2\|SPIKE_SARS2.pdb"/>
        </test>
    </tests>
    <citations>
        <citation type="bibtex">
@misc{githubhh-suite,
author = {Guerler, Govindarajoo, Zhang},
year = {2013},
title = {Mapping Monomeric Threading to Protein-Protein Structure Prediction},
publisher = {ACS Publications},
journal = {Journal of Chemical Information and Modeling},
url = {https://pubs.acs.org/doi/10.1021/ci300579r},
}
        </citation>
    </citations>
</tool>