<tool id="spring_mcc" name="SPRING MCC" version="0.1.0" python_template_version="3.5" license="MIT">
    <description>plot generator</description>
    <requirements>
        <requirement type="package" version="3.3.2">matplotlib</requirement>
    </requirements>
    <command detect_errors="exit_code"><![CDATA[
        python3 '$__tool_directory__/spring_mcc.py' -i '$input' -b '$database' -m '$method' -l '$sampling.locations' -ra '$sampling.regiona' -rb '$sampling.regionb' -n '$sampling.negative' -o '$mccplot'
    ]]></command>
    <inputs>
        <param name="input" type="data" format="tabular" label="Interacting Pairs" help="Prediction input containing UniProt Accession codes (2-columns)."/>
        <conditional name="sampling">
            <param name="type" type="select" label="Non-interacting Pairs" display="radio" help="Specify how to determine non-interacting pairs.">
                <option value="random">Random Sampling</option>
                <option value="uniprot">Sampling with UniProt Localization</option>
                <option value="negative">Specify non-interacting pairs</option>
            </param>
            <when value="uniprot">
                <param name="locations" type="data" format="tabular" label="UniProt Localization Database" help="UniProt tabular export with localization column to sample non-interacting pairs." />
                <param name="negative" type="hidden" value="" />
                <param name="regiona" type="select" label="Choose First Subcellular Location">
                    <option value="Cell">Cell</option>
                    <option value="Cytoplasm">Cytoplasm</option>
                    <option value="Membrane" selected="True">Membrane</option>
                    <option value="Mitochondrion" selected="True">Mitochondrion</option>
                    <option value="Nucleus">Nucleus</option>
                    <option value="Periplasm">Periplasm</option>
                    <option value="Secreted">Secreted</option>
                 </param>
                 <param name="regionb" type="select" label="Choose Second Subcellular Location">
                    <option value="Cell">Cell</option>
                    <option value="Cytoplasm">Cytoplasm</option>
                    <option value="Membrane" selected="True">Membrane</option>
                    <option value="Mitochondrion" selected="True">Mitochondrion</option>
                    <option value="Nucleus">Nucleus</option>
                    <option value="Periplasm">Periplasm</option>
                    <option value="Secreted">Secreted</option>
                 </param>
            </when>
            <when value="random">
                <param name="negative" type="hidden" value="" />
                <param name="locations" type="hidden" value="" />
                <param name="regiona" type="hidden" value="" />
                <param name="regionb" type="hidden" value="" />
            </when>
            <when value="negative">
                <param name="locations" type="hidden" value="" />
                <param name="negative" type="data" format="tabular" label="Non-interacting Pairs" help="Tabular file containing non-interacting pairs (2-columns)." />
                <param name="regiona" type="hidden" value="" />
                <param name="regionb" type="hidden" value="" />
            </when>
        </conditional>
        <param name="database" type="data" format="tabular" label="BioGRID Database" help="BioGRID Database in TAB 3.0 format."/>
        <param name="method" type="select" label="Experimental Method" help="Choose a specific experimental method name.">
            <option value="Affinity Capture-MS">Affinity Capture-MS</option>
            <option value="Biochemical Activity">Biochemical Activity</option>
            <option value="Co-crystal Structure">Co-crystal Structure</option>
            <option value="Co-fractionation">Co-fractionation</option>
            <option value="Co-localization">Co-localization</option>
            <option value="Co-purification">Co-purification</option>
            <option value="Far Western">Far Western</option>
            <option value="FRET">FRET</option>
            <option value="PCA">PCA</option>
            <option value="Reconstituted Complex">Reconstituted Complex</option>
            <option value="Two-hybrid">Two-hybrid</option>
        </param>
    </inputs>
    <outputs>
        <data format="png" name="mccplot" label="SPRING MCC Image" />
    </outputs>
    <tests>
        <test>
            <param name="input" value="mcc/human_hv1h2.txt" />
            <param name="database" value="mcc/biogrid_fret.txt" />
            <output name="output" file="mcc/human_hv1h2.png" />
        </test>
    </tests>
    <help><![CDATA[
This tool generates a MCC plot for a given 2-column tabular prediction file containing UniProt Accession codes. The prediction is compared
to a given BioGRID database file in TAB 3.0 format. Non-interacting protein pairs are randomly sampled.
    ]]></help>
    <citations>
        <citation type="bibtex">
@misc{githubhh-suite,
author = {Guerler, Govindarajoo, Zhang},
year = {2013},
title = {Mapping Monomeric Threading to Protein-Protein Structure Prediction},
publisher = {ACS Publications},
journal = {Journal of Chemical Information and Modeling},
url = {https://pubs.acs.org/doi/10.1021/ci300579r},
}
        </citation>
    </citations>
</tool>